.edit-icon {
    width: 25px;
    height: 25px;
}

.edit {
    padding: 0 !important;
    border: none;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

footer button {
    width: calc(100%/3);
}

@media (max-width: 492px) {
    footer button {
        font-size: 12px !important;
    }
}